[Unit]
Description=iotdata Lora (EBYTE E22-900T22U) to MQTT Gateway Service
Wants=network-online.target
After=network-online.target
After=dev-e22900t22u.device
BindsTo=dev-e22900t22u.device

[Service]
Type=simple
ExecStart=/usr/local/bin/iotdata_gateway --config /etc/default/iotdata_gateway.cfg
TimeoutStopSec=15s
KillMode=mixed
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
WantedBy=dev-e22900t22u.device
